/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "refinery/formatting";
@import "refinery/theme";

/* Import custom bootstrap settings */
@import "_bootstrap-custom";

@import 'font_awesome5_webfont';

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.card-navigation .card {
  @extend .bg-primary;
  @extend .text-light;
  @extend .text-center;
  @extend .font-weight-bold;
  @extend .font-size-large;
  border-color: #000000;

  img, .nav-img {
    @extend .card-img-top;
    @extend .bg-dark;
  }

  span.nav-img {
    font-size: 10rem;
    padding: 3rem 0;
  }

  .card-body a {
    @extend .stretched-link;
  }
}

.groups {
  @extend .card-navigation;
}

#page_container > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */

  .footer_menu {
    @include float-right;
  }
}